# This is a comment.
# Each line is a filter followed by one or more owners.

# Default owner for everything in the repo
*       @soya @souce

# Data science team owns all Python files
*.py    @blabla
